 <header>
    <div id="logo" [routerLink]="'homepage'">
      <span>My</span>
      <span>Todos</span>
    </div>
  
    <nav [ngClass]="{'open': isMenuOpen}" class="topnav">
      <button class="burger btn" (click)="toggleMenu()">
        <ng-container *ngIf="!isMenuOpen; else burgerclose">
          <a class="burger open">
            <svg xmlns="http://www.w3.org/2000/svg" title="burger open action logo" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </a>
        </ng-container>
        <ng-template #burgerclose>
          <a class="burger close" >
            <svg xmlns="http://www.w3.org/2000/svg" title="burger close action logo" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </a>
        </ng-template>
      </button>
  
      <ul id="navList">
        <li><a [routerLink]="'homepage/today'" routerLinkActive="active">today</a></li>
        <li><a [routerLink]="'homepage/tocome'"routerLinkActive="active">tocome</a></li>
      </ul>
    </nav>
  </header>

