.container{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}

li {
list-style: none;
border: 0.5px solid black;
padding: 1rem 1rem;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article{
    display: flex;
    gap: 4rem;
    align-items: center;
    
}

#two-logo{
    display: flex;
    gap: 1rem;
}


#priority{
padding: 0.5rem 0.5rem;
background-color: chartreuse;
border-radius: 8px;
}

