.container{
    display: flex;
    gap: 2rem;
}
input{
    width: 1rem;
    height: 1rem;
    align-self: center;
}

li{
    list-style: none;
    justify-content: center;
}
article{
    display: flex;
    margin: 2rem 0;
    border: 0.5px grey solid;
    padding: 1rem 1rem;
   
}
.container.content{
    display: grid;
    grid-template-columns: 15rem 2rem 5rem 2rem 20rem 2rem 10rem  ;
    align-items: center;
}
#two-logo{
    display: flex;
    gap: 3rem;
    align-items: baseline;
}
.priority{
    padding: 0.5rem 0.5rem;
    width: 5rem;
    text-align: center;
    border-radius: 8px;
    }

.red{
    background-color: rgb(255, 126, 126);
}
.green{
    background-color: aquamarine;
}
.yellow{
    background-color: rgb(255, 214, 65);
}
#done-line{
    background-color: rgb(75, 75, 75);
    height: 5px;
    width: 65rem;
    position: absolute;
    margin-top: 1rem;
}