<div id="container">
    <div></div>
<main>

<div id="first-line">  
<h1>{{h1Value}}</h1>

<button id="add-todo" (click)="openModal(customAddTodoTemplate)">
    <span>+</span>
</button>
</div>  

<router-outlet (activate)="listenToChildComponent($event)"></router-outlet>

</main>
<div></div>
</div>


<ng-template #customAddTodoTemplate>
   <div class="modal">

    <div class="modal inputs-spans">
        <div>
            <span>title</span>
            <span>to do for</span>
            <span>priority</span>

        </div>

        <div>
            <input type="text" placeholder="i have to ..." >
            <input type="date">
            <select>
                <option>high</option>
                <option>medium</option>
                <option>low</option>
            </select>
        </div>        
    </div>
    <div id="description">
    <textarea placeholder="description ..."></textarea>
</div>
   </div>


</ng-template>