
#container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}
#first-line{
    display: flex;
    justify-content: space-around;
}
#add-todo{
background-color: blueviolet;
padding: 1rem 2rem;
border: none;
border-radius: 8px;
}
#add-todo span {
    color: white;
    font-size: x-large;
}
.modal.inputs-spans{
    display: flex;
    justify-content: space-between;
    
   
}
.modal.inputs-spans > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}
#description{
    display: flex;
    justify-content: center;
}
textarea{
    width: 40rem;
    height: 10rem;
    resize: none;
    
}
span{
    font-size: larger;
    font-weight: bolder;
}
#error-message{
    font-weight: lighter;
    font-size: smaller;
    color: rgb(255, 44, 44);
}