<div id="container">
    <div></div>
<main>

<div id="first-line">  
<h1>{{h1Value}}</h1>

<button id="add-todo" (click)="openModal(customTemplate)">
    <span>+</span>
</button>
</div>  

<router-outlet (activate)="listenToChildComponent($event)"></router-outlet>

</main>
<div></div>
</div>


<ng-template #customTemplate>
   <div class="modal">

    <div>
        <span>title</span>
        <input type="text">
    </div>

    <div>
        <span>to do for</span>
        <input type="date">
    </div>

    <div>
        <span>priority</span>
        <select>
            <option>hight</option>
            <option>medium</option>
            <option>low</option>
        </select>
    </div>

    <textarea placeholder="description ..."></textarea>


   </div>
</ng-template>